---
layout: default
---

{% include contact_bar.html %}

<div class="projects">
  <div class="container">
    <div class="row">

    {% include project_row.html project_id="randomloveletter" title="#randomloveletter" year="Current" description_brief="Calligraphy" description_long="Putting handdrawn sticky notes around University of Waterloo and random places around the city" blog_post_link="https://uwaterloo.ca/student-success/blog/post/making-campus-little-brighter-double-feature" demo_link="https://www.instagram.com/p/BhJ_pUPjAoA/" %}

    {% include post_row.html post_id="lasercutting-2019" title="Lasercutting" emojis="🃏⚡" time="Apr-Dec 2019" description_long="Lasercut wooden cards for documenting millennial life, using [Procreate](https://procreate.art) and [Inkscape](https://inkscape.org)" blog_post_link="http://acromace.com/lasercutting-2019" %}

    {% include work.html work_id="meta" title="Meta" time="Sep 2018 - Current" position="Software Engineer" description_long="Currently in Remote Presence on Messenger. Working on [Watch Together and Lightspeed](https://techcrunch.com/2019/04/30/facebook-messenger-desktop-app/). Formerly [Youth](https://www.vox.com/2017/12/4/16732816/facebook-youth-team-teens-kids-messenger-kids)." website_link="https://www.facebook.com" %}

    {% include project_row.html project_id="melodrama" title="Melodrama" year="2018" description_brief="Calligraphy" description_long="**Calligraphy** project to letter each song from [Lorde's Melodrama](https://open.spotify.com/album/2B87zXm9bOWvAJdkJBTpzF)" demo_link="https://www.instagram.com/p/BkRElvXHTC5/" %}

    {% include work.html work_id="facebook" title="Facebook" time="Sep - Dec 2017" position="Software Engineer Intern" description_long="Collaborated across multiple product and cross-functional teams to develop subscription management in Marketplace using **React Native**, **GraphQL**, **Hack**, **React**, and **Relay**" website_link="https://www.facebook.com" %}

    {% include project_row.html project_id="babelcamera" title="BabelCamera" year="2017" description_brief="iPad app" description_long="An **iOS app** that tells you how to pronounce things around you in another language using **CoreML**, **Vision framework**, and **Google Translate API**" github_link="https://github.com/AcroMace/BabelCamera" demo_link="https://youtu.be/_jxgNvIRpVk" %}

    {% include project_row.html project_id="dreambig" title="DreamBig" year="2017" description_brief="iPad app" description_long="3D **augmented reality** emoji drawing **iPad app** with **ARKit** and the **Apple Pencil**" github_link="https://github.com/AcroMace/DreamBig" demo_link="https://youtu.be/HAf0DnNm1c8" %}

    {% include project_row.html project_id="remembertoblink" title="RememberToBlink" year="2017" description_brief="iOS app" description_long="An **iOS app** that uses the [**Muse headband**](http://www.choosemuse.com) to detect blinks and then annoys the user if they haven't blinked for 10 seconds"  github_link="https://github.com/AcroMace/RememberToBlink" demo_link="https://youtu.be/cMlHyn134Vg" %}

    {% include work.html work_id="whatsapp" title="WhatsApp" time="Jan - Apr 2017" position="Software Engineer Intern" description_long="Implemented and shipped a new video player with **H.264 streaming** for the **Windows Phone** app in **C#**, **XAML**, and **Silverlight**" website_link="https://www.whatsapp.com" %}

    {% include project_row.html project_id="narcissus" title="Narcissus" year="2017" description_brief="Chat bot" description_long="A **chatbot** created with **Electron** and **lunr** that uses your **Facebook chatting history** and learns from your responses so that you can talk to yourself" launch_page_link="http://acromace.com/narcissus/" github_link="https://github.com/AcroMace/narcissus" %}

    {% include work.html work_id="coursera" title="Coursera" time="May - Aug 2016" position="Software Engineer Intern" description_long="Planned and implemented a study groups feature that lets users check each other’s progress on a course on the **iOS** app using **VIPER** architecture with **Swift**" website_link="https://www.coursera.org" %}

    {% include project_row.html project_id="brainfoge" title="Brainfoge" year="2016" description_brief="Dogescript" description_long="BF interpreter written in Dogescript" github_link="https://github.com/AcroMace/brainfoge" %}

    {% include work.html work_id="theleague" title="The League" time="Sep - Dec 2015" position="Software Engineer Co-op" description_long="Implemented, performance tested, and optimized the potential match generation algorithm using **Elasticsearch**, **Postgres**, **Node.js**, **AWS Elastic Beanstalk**, **AWS SQS**, and **Travis CI**" website_link="http://www.theleague.com/" %}

    {% include project_row.html project_id="receptionkit" title="ReceptionKit" year="2015–2016" description_brief="iPad app" description_long="An **open-source** receptionist **iPad app** powered by Smooch and written in **Swift**. Won the **People's Choice Award** at Radialpoint's hackathon, **Staff Pick** on [DevPost](http://devpost.com/software/receptionkit), featured on [Product Hunt](https://www.producthunt.com/tech/receptionkit)" launch_page_link="http://acromace.com/receptionkit/" github_link="https://github.com/AcroMace/receptionkit" %}

    {% include project_row.html project_id="eggs-break-fast" title="Eggs Break Fast" year="2016" description_brief="iPhone game" description_long="iOS game written in **Swift** using **SpriteKit** for the gameplay and **GameKit** for the Game Center integration" app_store_link="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1073317600" %}

    {% include project_row.html project_id="quizzily" title="Quizzily" year="2015" description_brief="iPhone app" description_long="iOS app written in **Swift** using Quizlet's **RESTful API** with Alamofire and storing question sets with **Core Data**" launch_page_link="http://acromace.com/quizzily/" app_store_link="https://itunes.apple.com/ca/app/quizzily/id982813634" github_link="https://github.com/AcroMace/quizzily" %}

    {% include work.html work_id="smooch" title="Smooch" time="Jan - Apr 2015" position="Software Developer Intern" description_long="Worked on the web interface with **Backbone.js** and **Bootstrap** message scheduling with **Kue**, **Node.js**, and **MongoDB**" website_link="https://smooch.io" %}

    {% include project_row.html project_id="bett" title="BETT" year="2014" description_brief="Unity game" description_long="Local multiplayer **game** testing written in **Unity** with **C#**. Basketball game played with eggs on a trampoline. Made for the 2014 Fall GI Jam" launch_page_link="http://acromace.com/BETT/" github_link="https://github.com/AcroMace/BETT" %}

    {% include project_row.html project_id="whistlesheet" title="WhistleSheet" year="2014" description_brief="Flask web app" description_long="Web app written in **Python** with **Flask** and **jQuery**. Takes whistling audio with **Recorder.js** and outputs a PDF with **LilyPond** or a **MusicXML** file" github_link="https://github.com/AcroMace/whistlesheet" %}

    {% include project_row.html project_id="kuiz" title="Kuiz" year="2014" description_brief="Flask game" description_long="Trivia game written in **Python** with **Flask** and **jQuery**. Receives answers from Kik with **WebHooks** and updates in real time with **WebSockets**. Uses **BeautifulSoup** to scrape profile pictures and **MongoDB** to store questions. Created for Kik's 2014 hackathon." %}

    {% include work.html work_id="kik" title="Kik" time="May - August 2014" position="Software Developer in Test" description_long="Automated manual test suites for iOS and Android to increase the efficiency of the QA team with **Ruby** and **Appium**" website_link="https://www.kik.com" %}

    {% include project_row.html project_id="math-magician" title="Math Magician" year="2011" description_brief="iPhone app" description_long="**iOS** app written in **Objective-C** that solves math problems. Created as a CS project in Grade 10." blog_post_link="/math-magician" %}

    {% include project_row.html project_id="hyper-halo" title="Hyper Halo" year="2010" description_brief="Visual Basic program" description_long="**Windows** program written witg **Visual Basic** that modded Halo Trial. Created as a CS project in Grade 9." blog_post_link="/hyper-halo" %}

    </div>

    <div class="row">

    {% include project_other.html %}

    </div>
  </div>
</div>
