---
layout: default
---

{% include contact_bar.html %}

<div class="projects">

{% include project_row.html project_id="receptionkit" title="ReceptionKit" year="2015 - 2016" description_brief="iPad app" description_long="An **open-source** receptionist **iPad app** powered by Smooch and written in **Swift**. Won the **People's Choice Award** at Radialpoint's hackathon, **Staff Pick** on [DevPost](http://devpost.com/software/receptionkit), featured on [Product Hunt](https://www.producthunt.com/tech/receptionkit)" launch_page_link="https://acromace.com/receptionkit/" github_link="https://github.com/AcroMace/receptionkit" align="left" %}

{% include project_row.html project_id="quizzily" title="Quizzily" year="2015" description_brief="iPhone app" description_long="iOS app written in **Swift** using Quizlet's **RESTful API** with Alamofire and storing question sets with **Core Data**" launch_page_link="https://acromace.com/quizzily/" app_store_link="https://itunes.apple.com/ca/app/quizzily/id982813634" align="right" %}

{% include project_row.html project_id="eggs-break-fast" title="Eggs Break Fast" year="2016" description_brief="iPhone game" description_long="iOS game written in **Swift** using **SpriteKit** for the gameplay and **GameKit** for the Game Center integration" app_store_link="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1073317600" align="left" %}

{% include project_row.html project_id="bett" title="BETT" year="2014" description_brief="Unity game" description_long="Local multiplayer **game** testing written in **Unity** with **C#**. Basketball game played with eggs on a trampoline. Made for the 2014 Fall GI Jam" launch_page_link="https://acromace.com/BETT/" github_link="https://github.com/AcroMace/BETT" align="right" %}

{% include project_row.html project_id="whistlesheet" title="WhistleSheet" year="2014" description_brief="Flask web app" description_long="Web app written in **Python** with **Flask** and **jQuery**. Takes whistling audio with **Recorder.js** and outputs a PDF with **LilyPond** or a **MusicXML** file" align="left" github_link="https://github.com/AcroMace/whistlesheet" %}

{% include project_row.html project_id="kuiz" title="Kuiz" year="2014" description_brief="Flask game" description_long="Trivia game written in **Python** with **Flask** and **jQuery**. Receives answers from Kik with **WebHooks** and updates in real time with **WebSockets**. Uses **BeautifulSoup** to scrape profile pictures and **MongoDB** to store questions." url="" align="right" %}

{% include project_row.html project_id="math-magician" title="Math Magician" year="2011" description_brief="iPhone app" description_long="**iOS** app written in **Objective-C** that solves math problems" align="left" blog_post_link="/math-magician" %}

{% include project_row.html project_id="hyper-halo" title="HyperHalo" year="2010" description_brief="Visual Basic program" description_long="**Windows program** created in **Visual Basic** for modifying Halo" align="right" blog_post_link="/hyper-halo" %}

</div>

{% include project_other.html %}
