<div class="contact card-shadow">
  <div class="container">
    <div class="col-xs-3">
      <a href="https://github.com/acromace">
        <div type="button" class="btn btn-default btn-contact">
          <i class="fa fa-github-alt fa-2x"></i>
        </div>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="mailto:hello@andycho.ca">
        <div type="button" class="btn btn-default btn-contact">
          <i class="fa fa-envelope fa-2x"></i>
        </div>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="https://www.instagram.com/calligrandy/">
        <div type="button" class="btn btn-default btn-contact">
          <i class="fa fa-instagram fa-2x"></i>
        </div>
      </a>
    </div>
    <div class="col-xs-3">
      <a href="https://ca.linkedin.com/in/acromace/">
        <div type="button" class="btn btn-default btn-contact">
          <i class="fa fa-linkedin fa-2x"></i>
        </div>
      </a>
    </div>
  </div>
</div>
