<div class="container contact">
  <div class="col-sm-4">
    <a href="http://github.com/acromace">
      <div type="button" class="btn btn-default btn-contact">
        <i class="fa fa-github-alt fa-2x"></i> <p>acromace</p>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="mailto:contact@andycho.ca">
      <div type="button" class="btn btn-default btn-contact">
        <i class="fa fa-envelope fa-2x"></i> <p>contact@andycho.ca</p>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="http://ca.linkedin.com/in/acromace/">
      <div type="button" class="btn btn-default btn-contact">
        <i class="fa fa-linkedin fa-2x"></i> <p>acromace</p>
      </div>
    </a>
  </div>
</div>
