<div class="container contact">
  <div class="col-sm-3">
    <a href="https://github.com/acromace">
      <div type="button" class="btn btn-default btn-contact">
        <i class="fa fa-github-alt fa-2x"></i> <p>acromace</p>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="mailto:contact@andycho.ca">
      <div type="button" class="btn btn-default btn-contact">
        <i class="fa fa-envelope fa-2x"></i> <p>contact@andycho.ca</p>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://www.instagram.com/andhayc/">
      <div type="button" class="btn btn-default btn-contact">
        <i class="fa fa-instagram fa-2x"></i> <p>andhayc</p>
      </div>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="https://ca.linkedin.com/in/acromace/">
      <div type="button" class="btn btn-default btn-contact">
        <i class="fa fa-linkedin fa-2x"></i> <p>acromace</p>
      </div>
    </a>
  </div>
</div>
