<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I make things">
    <meta name="author" content="Andy Cho">
    <meta property="og:image" content="{{ site.baseurl }}/resources/linkedin.png">
    <title>Andy Cho / I make things</title>
    <link rel="shortcut icon" href="resources/favicon.ico">
    <link href="{{ site.baseurl }}/resources/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/resources/fa/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/resources/andy.css" rel="stylesheet">
</head>
