<div class="col-xs-12 col-lg-6 col-xl-4">
  <div class="col-xs-12 project card-shadow" id="post-{{ include.post_id }}">

    <!-- Header emojis -->
    <div class="post-emojis-wrapper">
      {{ include.emojis }}
    </div>

    <!-- Description text -->
    <div class="description">
      <h2>{{ include.title }}</h2>
      <p class="description-time"><em>{{ include.time }}</em></p>
      <p class="description-position"><strong>{{ include.position }}</strong></p>
      <p>{{ include.description_long | markdownify }}</p>
      <div class="call-to-action-buttons">
      {% if include.blog_post_link %}
        <a href="{{ include.blog_post_link }}">
          <button type="button" class="btn btn-link btn-cta">
            BLOG POST
          </button>
        </a>
      {% endif %}
    </div>
    </div>
  </div>
</div>
