<div class="col-xs-12 col-lg-10" id="project-other-wrapper">
  <div class="col-xs-12 project card-shadow" id="project-other">
    <div class="description">
      <h1>Other projects</h1>
    </div>
    <ul>
      {% assign pointerapp-icons = "fa-android,fa-map-marker,fa-github" | split: "," %}
      {% include project_other_row.html url="https://github.com/PointerTeam/PointerApp" year="2018" title="Pointer app" description="Supervised a [Side Project Club](https://www.facebook.com/sideprojectclub/) team that created an Android app that lets you put messages on a map and get messages near you" fa_icons=pointerapp-icons %}

      {% assign multiplayerhangman-icons = "fa-chrome,fa-trophy,fa-github" | split: "," %}
      {% include project_other_row.html url="https://github.com/MultiplayerHangman/MultiplayerHangman" year="2018" title="MultiplayerHangman" description="Supervised a [Side Project Club](https://www.facebook.com/sideprojectclub/) team that created a real-time web multiplayer hangman game using Flask, P5, and WebSockets" fa_icons=multiplayerhangman-icons %}

      {% assign member-the-elections-icons = "fa-chrome,fa-meh-o,fa-github" | split: "," %}
      {% include project_other_row.html url="http://acromace.com/member-the-elections/" year="2016" title="member the elections?" description="Chrome extension made for [TerribleHack 2016](http://terriblehack.website) — Replaces your Facebook and Twitter feed with r/the_donald posts" fa_icons=member-the-elections-icons %}

      {% assign urchaperone-icons = "fa-apple,fa-car,fa-github" | split: "," %}
      {% include project_other_row.html url="https://github.com/AcroMace/UrChaperone" year="2016" title="UrChaperone" description="iOS app made for [Hack the North 2016](https://hackthenorth.com) — Call an Uber home from a push notification when you leave the house" fa_icons=urchaperone-icons %}

      {% assign slack-roulettebot-icons = "fa-comments-o,fa-slack,fa-github" | split: "," %}
      {% include project_other_row.html url="https://github.com/AcroMace/slack-roulettebot" year="2015" title="slack-roulettebot" description="A Slack bot for playing Chatroulette with your team members" fa_icons=slack-roulettebot-icons %}

      {% assign chrome-startup-page-icons = "fa-chrome,fa-github" | split: "," %}
      {% include project_other_row.html url="https://github.com/AcroMace/chrome-startup-page" year="2014" title="Chrome new tab page" description="A personal new tab page for Chrome" fa_icons=chrome-startup-page-icons %}

      {% assign lines-of-disapproval-icons = "fa-comments-o,fa-github" | split: "," %}
      {% include project_other_row.html url="https://github.com/AcroMace/lines-of-disapproval" year="2014" title="Lines of Disapproval" description="Send the look of disapproval and other line emoticons from Kik" fa_icons=lines-of-disapproval-icons %}
    </ul>
  </div>
</div>
