<div class="project col-xs-12" id="project-other">
  <div class="col-xs-12">
    <div class="description">
      <h1>Other projects</h1>
    </div>
    <ul>
      <li><a href="https://github.com/AcroMace/brainfoge"><strong>Brainfoge</strong></a> (2016) - BF interpreter written in Dogescript</li>
      <li><a href="https://github.com/AcroMace/slack-roulettebot"><strong>slack-roulettebot</strong></a> (2015) - A Slack bot for playing Chatroulette with your team members</li>
      <li><a href="https://github.com/AcroMace/chrome-startup-page"><strong>Chrome new tab page</strong></a> (2014) - A personal new tab page for Chrome</li>
      <li><a href="https://github.com/AcroMace/lines-of-disapproval"><strong>Lines of Disapproval</strong></a> (2014) - Send the look of disapproval and other line emoticons from Kik</li>
    </ul>
  </div>
</div>
