<div class="col-xs-12 col-md-6 col-lg-4">
  <div class="col-xs-12 project card-shadow" id="project-{{ include.project_id }}">

    <!-- Header image -->
    <div class="project-image-wrapper">
      <img src="{{ site.baseurl }}/assets/button/{{ include.project_id }}.png"/>
    </div>

    <!-- Description text -->
    <div class="description">
      <h2>{{ include.title }}</h2>
      <p class="description-time"><em>{{ include.year }} — {{ include.description_brief }}</em></p>
      <p>{{ include.description_long | markdownify }}</p>
      <div class="call-to-action-buttons">
      {% if include.launch_page_link %}
        <a href="{{ include.launch_page_link }}">
          <button type="button" class="btn btn-link btn-cta">
            LAUNCH PAGE
          </button>
        </a>
      {% endif %}
      {% if include.app_store_link %}
        <a href="{{ include.app_store_link }}">
          <button type="button" class="btn btn-link btn-cta">
            APP STORE
          </button>
        </a>
      {% endif %}
      {% if include.github_link %}
        <a href="{{ include.github_link }}">
          <button type="button" class="btn btn-link btn-cta">
            GITHUB
          </button>
        </a>
      {% endif %}
      {% if include.product_hunt_link %}
        <a href="{{ include.product_hunt_link }}">
          <button type="button" class="btn btn-link btn-cta">
            PRODUCT HUNT
          </button>
        </a>
      {% endif %}
      {% if include.blog_post_link %}
        <a href="{{ include.blog_post_link }}">
          <button type="button" class="btn btn-link btn-cta">
            BLOG POST
          </button>
        </a>
      {% endif %}
      {% if include.demo_link %}
        <a href="{{ include.demo_link }}">
          <button type="button" class="btn btn-link btn-cta">
            DEMO
          </button>
        </a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
