<div class="col-xs-12 col-lg-6 col-xl-4">
  <div class="col-xs-12 project card-shadow" id="work-{{ include.work_id }}">

    <!-- Header image -->
    <div class="work-image-wrapper">
      <img src="{{ site.baseurl }}/assets/logo/{{ include.work_id }}.png"/>
    </div>

    <!-- Description text -->
    <div class="description">
      <h2>{{ include.title }}</h2>
      <p class="description-time"><em>{{ include.time }}</em></p>
      <p class="description-position"><strong>{{ include.position }}</strong></p>
      <p>{{ include.description_long | markdownify }}</p>
      <div class="call-to-action-buttons">
      {% if include.website_link %}
        <a href="{{ include.website_link }}">
          <button type="button" class="btn btn-link btn-cta">
            WEBSITE
          </button>
        </a>
      {% endif %}
    </div>
    </div>
  </div>
</div>
