html, body {
	/* Gets rid of the white line at the bottom of the page */
	background-color: #eeeeec;
}

body, p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-weight: 300;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

.card-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.row {
	justify-content: center;
}


/* Header */

.header {
	color: #2e3436;
	text-align: center;
	margin-bottom: 0;
	padding-top: 2em;
}

#site-title {
	font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 4em;
	letter-spacing: -2px;
	margin-bottom: 0;
	text-transform: uppercase;
}


/* Contact icons */

.contact {
	justify-content: center;
	width: 100%;
	position: relative;
	padding-bottom: 0.4em;
}

.contact p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
	vertical-align: middle;
}

.contact i {
	color: #2e3436;
	display: inline-block;
	vertical-align: middle;
}

.contact .container {
	padding-left: 0;
	padding-right: 0;
}

.btn-contact {
	border: 0;
	width: 100%;
}


/* Front page projects */

.projects {
	background-color: #eeeeec;
	padding-bottom: 2em;
}

.project {
	color: black;
	background-color: white;
	padding-left: 0;
	padding-right: 0;
	margin-top: 2em;
}

.project:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}

.project-image-wrapper {
	background-color: gray;
}

.project-image-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.work-image-wrapper {
	display: flex;
	background-color: gray;
	align-items: center;
	justify-content: center;
	height: 160px;
	padding: 4em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.work-image-wrapper img {
	height: auto;
	max-width: 100%;
}

.post-emojis-wrapper {
	font-size: 4em;
	display: flex;
	background-color: gray;
	align-items: center;
	justify-content: center;
	height: 160px;
	padding-top: 1em;
	padding-bottom: 1em;
}

#project-theremin .project-image-wrapper {
	background-color: #9b59b6;
}

#project-theremin a, #project-theremin .btn-cta {
	color: #9b59b6;
}

#project-mindpalace .project-image-wrapper {
	background-color: #F5D852;
}

#project-mindpalace a, #project-mindpalace .btn-cta {
	color: #F5D852;
}

#project-drumhead .project-image-wrapper {
	background-color: #16a085;
}

#project-drumhead a, #project-drumhead .btn-cta {
	color: #16a085;
}

#work-apple .work-image-wrapper {
	background-color: #1a1a1a;
}

#work-apple a, #work-apple .btn-cta {
	color: #1a1a1a;
}

#work-apple .work-image-wrapper img {
	max-height: 4em;
}

#post-less-degenerate-options .post-emojis-wrapper {
	background-color: #1abc9c;
}

#post-less-degenerate-options .btn-cta, #post-lasercutting-2019 a {
	color: #16a085;
}

#post-lasercutting-2019 .post-emojis-wrapper {
	background-color: #8d6e63;
}

#post-lasercutting-2019 .btn-cta, #post-lasercutting-2019 a {
	color: #6d4c41;
}

#post-canadian-guide-to-us-retirement-account .post-emojis-wrapper {
	background-color: #b00020;
}

#post-canadian-guide-to-us-retirement-account .btn-cta {
	color: #b00020;
}

#post-new-grad-techie-guide-to-us-retirement-accounts .post-emojis-wrapper {
	background-color: #85bb65;
}

#post-new-grad-techie-guide-to-us-retirement-accounts .btn-cta {
	color: #85bb65;
}

#work-meta .work-image-wrapper {
	background-color: #1877f2;
}

#work-meta a, #work-meta .btn-cta {
	color: #1877f2;
}

#work-meta .work-image-wrapper img {
	max-height: 4em;
}

#work-facebook .work-image-wrapper {
	background-color: #365899;
}

#work-facebook .btn-cta {
	color: #365899;
}

#work-facebook .work-image-wrapper img {
	max-height: 4em;
}

#project-randomloveletter .project-image-wrapper {
	background-color: #fab1a0;
}

#project-randomloveletter a, #project-randomloveletter .btn-cta {
	color: #fab1a0;
}

#project-melodrama .project-image-wrapper {
	background-color: #b64a5b;
}

#project-melodrama a, #project-melodrama .btn-cta {
	color: #b64a5b;
}

#project-babelcamera .project-image-wrapper {
	background-color: #64B5F6;
}

#project-babelcamera .btn-cta {
	color: #2196F3;
}

#project-dreambig .project-image-wrapper {
	background-color: #FDD835;
}

#project-dreambig .btn-cta {
	color: #F57F17;
}

#project-remembertoblink .project-image-wrapper {
	background-color: #B71C1C;
}

#project-remembertoblink a, #project-remembertoblink .btn-cta {
	color: #B71C1C;
}

#project-narcissus .project-image-wrapper {
	background-color: #64B5F6;
}

#project-narcissus .btn-cta {
	color: #2196F3;
}

#project-receptionkit .project-image-wrapper {
	background-color: #B71C1C;
}

#project-receptionkit .btn-cta, #project-receptionkit a {
	color: #B71C1C;
}

#work-whatsapp .work-image-wrapper {
	background-color: #0f5e54;
}

#work-whatsapp .btn-cta {
	color: #0f5e54;
}

#work-whatsapp .work-image-wrapper img {
	max-height: 8em;
}

#project-brainfoge .project-image-wrapper {
	background-color: #FDD835;
}

#project-brainfoge .btn-cta {
	color: #F57F17;
}

#work-coursera .work-image-wrapper {
	background-color: #4A89DC;
}

#work-coursera .btn-cta {
	color: #4A89DC;
}

#work-theleague .work-image-wrapper {
	background-color: #1a1a1a;
}

#work-theleague .btn-cta {
	color: #1a1a1a;
}

#work-theleague .work-image-wrapper img {
	max-height: 6em;
}

#project-quizzily .project-image-wrapper {
	background-color: #00796b;
}

#project-quizzily .btn-cta {
	color: #00796b;
}

#project-eggs-break-fast .project-image-wrapper {
	background-color: #2c3e50;
}

#project-eggs-break-fast .btn-cta {
	color: #2c3e50;
}

#work-smooch .work-image-wrapper {
	background-color: #a347b7;
}

#work-smooch .btn-cta {
	color: #a347b7;
}

#project-bett .project-image-wrapper {
	background-color: #64B5F6;
}

#project-bett .btn-cta {
	color: #2196F3;
}

#project-whistlesheet .project-image-wrapper {
	background-color: #2c3e50;
}

#project-whistlesheet .btn-cta {
	color: #2c3e50;
}

#project-kuiz .project-image-wrapper {
	background-color: #1565C0;
}

#work-kik .work-image-wrapper {
	background-color: #5dcd11;
}

#work-kik .btn-cta {
	color: #5dcd11;
}

#work-kik .work-image-wrapper img {
	max-height: 5em;
}

#project-math-magician .project-image-wrapper {
	background-color: #00796b;
}

#project-math-magician .btn-cta {
	color: #00796b;
}

#project-hyper-halo .project-image-wrapper {
	background-color: #0D47A1;
}

#project-hyper-halo .btn-cta {
	color: #0D47A1;
}

#project-other-wrapper {
	justify-content: center;
}

#project-other {
	padding: 1em;
	padding-left: 0;
	padding-right: 2em;
	padding-bottom: 2em;
}

#project-other .description {
	padding-left: 2em;
}

#project-other ul {
	padding-left: 2em;
	list-style-type: none;
}

#project-other a {
	color: #1976D2;
}


/* Project descriptions */

.description {
	padding: 1.2em;
	padding-bottom: 0.8em;
}

.description h2 {
	font-size: 1.4em;
	margin: 0;
}

.description h3 {
	font-size: 1.2em;
}

.description .description-time, .description .description-position {
	font-size: 1em;
}

.description .description-time {
	margin-bottom: 0;
}

.description .description-position {
	margin-top: 0;
}

.description p, li, blockquote {
	font-size: 1em;
	margin-top: 8px;
	margin-bottom: 8px;
}

.description li {
	margin-top: 2px;
	margin-bottom: 0;
}

.description a {
	color: #90CAF9;
}

.description .btn {
	font-size: 0.86em;
}

/* Call to action buttons below the description */

.call-to-action-buttons {
	margin-top: 8px;
	margin-bottom: 0;
}

.call-to-action-buttons a {
	text-decoration: none;
}

.btn-cta {
	font-weight: bold;
	padding-left: 0;
	padding-right: 12px;
	border: none;
}

/* Posts page */

.post .title {
	padding: 1.2em;
}

.post h1, .post h2 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

.post p {
	margin-top: 1em;
	margin-bottom: 1em;
}

.post img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding: 1em;
}

.post a {
	color: #1565c0;
}

.post .ascii-diagram {
	font-family: monospace;
	padding: 1em;
	padding-bottom: 2em;
	margin-bottom: 2em;
	background-color: #2c3e50;
	color: #ecf0f1;
	white-space: pre;
}

/* Media in project descriptions */

.post .phone-screenshot {
	width: 80%;
	max-width: 320px;
}

.phone-screenshot-caption {
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	max-width: 300px;
	color: #888a85;
}

.image-center-caption {
	text-align: center;
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	color: #888a85;
}

.image-landscape-caption {
	font-style: italic;
	margin-left: 5%;
	margin-right: 5%;
	color: #888a85;
}

.image-landscape-small {
	width: 50%;
}

.image-landscape-small-caption {
	font-style: italic;
	margin-left: 28%;
	margin-right: 28%;
	color: #888a85;
}

.image-portrait {
	max-width: 50%;
}

.image-portrait-large {
	max-width: 80%;
}

.youtube-video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
