html, body {
	/* Gets rid of the white line at the bottom of the page */
	background-color: #e2e1e0;
}

body, p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-weight: 300;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

.card-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Header */

.header {
	color: #eeeeec;
	background-color: #01579B;
	text-align: center;
	margin-bottom: 0;
	padding: 1em;
}

#site-title {
	font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 4em;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	letter-spacing: -2px;
	margin-bottom: 0;
	text-transform: uppercase;
}


/* Contact icons */

.contact {
	width: 100%;
	background-color: white;
	position: relative;
	padding: 0.4em;
}

.contact p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	margin-left: 10px;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
	vertical-align: middle;
}

.contact i {
	color: #004e8b;
	display: inline-block;
	vertical-align: middle;
}

.contact .container {
	padding-left: 0;
	padding-right: 0;
}

.btn-contact {
	border: 0;
	width: 100%;
}


/* Front page projects */

.projects {
	background-color: #e2e1e0;
	padding-bottom: 2em;
}

.project {
	color: black;
	background-color: white;
	padding-left: 0;
	padding-right: 0;
	margin-top: 2em;
}

.project:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-col {
	padding-left: 0;
	padding-right: 0;
}

.project-image-wrapper {
	background-color: gray;
}

.project-image-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.work-image-wrapper {
	display: flex;
	background-color: gray;
	align-items: center;
	justify-content: center;
	min-height: 14em;
	padding: 4em;
}

.work-image-wrapper img {
	height: auto;
	max-width: 100%;
}

#work-facebook .work-image-wrapper {
	background-color: #365899;
}

#work-facebook .btn-cta {
	color: #365899;
}

#work-facebook .work-image-wrapper img {
	max-height: 4em;
}

#project-babelcamera .project-image-wrapper {
	background-color: #64B5F6;
}

#project-babelcamera .btn-cta {
	color: #2196F3;
}

#project-dreambig .project-image-wrapper {
	background-color: #FDD835;
}

#project-dreambig .btn-cta {
	color: #F57F17;
}

#project-remembertoblink .project-image-wrapper {
	background-color: #B71C1C;
}

#project-remembertoblink a, #project-remembertoblink .btn-cta {
	color: #B71C1C;
}

#project-narcissus .project-image-wrapper {
	background-color: #64B5F6;
}

#project-narcissus .btn-cta {
	color: #2196F3;
}

#project-receptionkit .project-image-wrapper {
	background-color: #B71C1C;
}

#project-receptionkit .btn-cta, #project-receptionkit a {
	color: #B71C1C;
}

#work-whatsapp .work-image-wrapper {
	background-color: #0f5e54;
}

#work-whatsapp .btn-cta {
	color: #0f5e54;
}

#work-whatsapp .work-image-wrapper img {
	max-height: 8em;
}

#project-brainfoge .project-image-wrapper {
	background-color: #FDD835;
}

#project-brainfoge .btn-cta {
	color: #F57F17;
}

#work-coursera .work-image-wrapper {
	background-color: #4A89DC;
}

#work-coursera .btn-cta {
	color: #4A89DC;
}

#work-theleague .work-image-wrapper {
	background-color: #1a1a1a;
}

#work-theleague .btn-cta {
	color: #1a1a1a;
}

#work-theleague .work-image-wrapper img {
	max-height: 6em;
}

#project-quizzily .project-image-wrapper {
	background-color: #00796b;
}

#project-quizzily .btn-cta {
	color: #00796b;
}

#project-eggs-break-fast .project-image-wrapper {
	background-color: #2c3e50;
}

#project-eggs-break-fast .btn-cta {
	color: #2c3e50;
}

#work-smooch .work-image-wrapper {
	background-color: #a347b7;
}

#work-smooch .btn-cta {
	color: #a347b7;
}

#project-bett .project-image-wrapper {
	background-color: #64B5F6;
}

#project-bett .btn-cta {
	color: #2196F3;
}

#project-whistlesheet .project-image-wrapper {
	background-color: #2c3e50;
}

#project-whistlesheet .btn-cta {
	color: #2c3e50;
}

#project-kuiz .project-image-wrapper {
	background-color: #1565C0;
}

#work-kik .work-image-wrapper {
	background-color: #5dcd11;
}

#work-kik .btn-cta {
	color: #5dcd11;
}

#work-kik .work-image-wrapper img {
	max-height: 5em;
}

#project-math-magician .project-image-wrapper {
	background-color: #00796b;
}

#project-math-magician .btn-cta {
	color: #00796b;
}

#project-hyper-halo .project-image-wrapper {
	background-color: #0D47A1;
}

#project-hyper-halo .btn-cta {
	color: #0D47A1;
}

#project-other {
	padding: 1em;
	padding-left: 0;
	padding-right: 2em;
	padding-bottom: 2em;
}

#project-other ul {
	padding-left: 32px;
	list-style-type: none;
}

#project-other a {
	color: #1976D2;
}


/* Project descriptions */

.description {
	padding: 2em;
}

.description h1 {
	margin: 0;
}

.description p, li, blockquote {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.2em;
}

.description li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.description a {
	color: #90CAF9;
}

/* Call to action buttons below the description */

.call-to-action-buttons {
	margin-top: 20px;
}

.call-to-action-buttons a {
	text-decoration: none;
}

.btn-cta {
	font-weight: bold;
	padding-left: 16px;
	padding-right: 16px;
	border: none;
}

/* Media in project descriptions */

.phone-screenshot {
	width: 80%;
	max-width: 320px;
}

.phone-screenshot-caption {
	font-style: italic;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	max-width: 300px;
	color: #888a85;
}

.image-landscape {
	width: 90%;
}

.image-landscape-caption {
	font-style: italic;
	margin-left: 5%;
	margin-right: 5%;
	color: #888a85;
}

.image-landscape-small {
	width: 50%;
}

.image-landscape-small-caption {
	font-style: italic;
	margin-left: 28%;
	margin-right: 28%;
	color: #888a85;
}

.image-portrait {
	max-width: 50%;
}

.image-portrait-large {
	max-width: 80%;
}

.youtube-video {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
